# banco de dados
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=call_help
MYSQL_USER=callhelp
MYSQL_PASSWORD=callhelppass

# backend
DATABASE_URL=mysql+aiomysql://callhelp:callhelppass@db:3306/call_help
JWT_SECRET=muda-esse-segredo-em-producao
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=120

# frontend
VITE_API_URL=http://localhost:8000