# Python
__pycache__/
*.py[oc]
*.egg-info/
build/
dist/
.venv/
.pytest_cache/
.coverage
htmlcov/
*.db
*.sqlite

# Node
node_modules/
dist/
.vite/
*.local

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Ambientes
.env
.env.*
!.env.example

# Docker
docker-compose.override.yml

# OS
Thumbs.db